body{

margin:0;

font-family:Arial;

background:#eee;

}

header{

background:#111;

padding:20px;

display:flex;

justify-content:space-between;

color:white;

}

.menu{

display:flex;

list-style:none;

gap:20px;

}

.menu li{

position:relative;

}

.menu a{

color:white;

text-decoration:none;

}

.submenu{

display:none;

position:absolute;

background:white;

padding:10px;

list-style:none;

}

.submenu a{

color:black;

}

.menu li:hover .submenu{

display:block;

}

.hero{

display:grid;

grid-template-columns:
1fr 1fr;

padding:30px;

background:#cfe9ff;

}

.hero img{

width:100%;

}

.products{

display:grid;

grid-template-columns:
repeat(
auto-fit,
minmax(
220px,
1fr
)

);

gap:20px;

padding:20px;

}

.card{

background:white;

padding:20px;

border-radius:10px;

text-align:center;

}

.card img{

width:100%;

}

button{

padding:10px;

background:blue;

color:white;

border:none;

}

.blog{

display:flex;

gap:20px;

padding:20px;

}

.about{

padding:40px;

}

.view{

padding:20px;

text-align:center;

background:white;

}